/* This is my rule set for styling */
#game-board {
	position: relative;
	height: 400px;
	width: 400px;
	border: 3px solid blue;
	background-color: black;
	box-shadow: 10px 10px lightblue;
	z-index: -1;
}

#player {
	position: absolute;
	height: 10px;
	width: 10px;	
	background-color: red;
	z-index: 1;
}

.food, .bomb {
	position: absolute;
	height: 10px;
	width: 10px;
	z-index: 0;	
}

.bomb, #player {
	border-radius: 50%;
}

#canvas {
	z-index: -2;
}