/* Simple style sheet
 * 
 * ©Michael Wilson */

#visualization {
	position: relative;
	height: 350px;
	width: 350px;
	border: 1px solid black;
}


#node-list:hover .tool-tip{
	visibility: visible;
}

.tool-tip {
	visibility: hidden;
	color: #fff;
	background-color: tan;
}

.node {
	border-radius: 50%;
	border: 1px solid blue;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.block {
	background-color: red;	
}

.block, .node, .tool-tip {
	position: absolute;
}