/* This is just a minimal styling sheet
 * 
 * Michael Wilson */

[class*="sm"] {
	border: 1px dashed black;
}

/* Add the margin at the top to take into consideration the fact that the navbar is fixed */
#top {
	margin-top: 30px;
}

h2 {
	text-align: center;
}

/* Styling for all logos */
.logo {
	height: 75px;
	width: 75px;
}